---
layout: page
title: "About"
description: "「Hey, this is draper-crypto.」"
header-img: "img/post-about.jpg"
header-mask: 0.3
multilingual: true
---

{% include multilingual-sel.html %}

<!-- Chinese Version -->
<div class="zh post-container">
    {% capture about_zh %}{% include about/zh.md %}{% endcapture %}
    {{ about_zh | markdownify }}
</div>

<!-- English Version -->
<div class="en post-container">
    {% capture about_en %}{% include about/en.md %}{% endcapture %}
    {{ about_en | markdownify }}
</div>


{% if site.disqus_username %}

<!-- Gitalk 评论 start  -->

<!-- Link Gitalk 的支持文件  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script> 
<div id="gitalk-container"></div>     <script type="text/javascript">
    var gitalk = new Gitalk({

    // gitalk的主要参数
		clientID: `bbbeebb2c21ca285ae17`,
		clientSecret: `f8f4303d126f5ba753eec1bc6228db915d5d554e`,
		repo: `Draper-crypto.github.io`,
		owner: 'Draper-crypto',
		admin: ['Draper-crypto'],
		id: 'about',
    });
    gitalk.render('gitalk-container');
</script> 
{% endif %}
