<!-- cloud music -->
<!-- auto=1 可以控制自动播放与否，当值为 1 即打开网页就自动播放，值为 0 时需要访客手动点击播放 -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>网易云音乐播放器</title>
    <style>
      #music-player {
        display: block;
        margin: 0 auto;
        width: 100%;
        max-width: 330px;
      }
    </style>
  </head>
  <body>
    <iframe id="music-player" auto=1 frameborder="no" border="0" marginwidth="0" marginheight="0" height=86
            src="//music.163.com/outchain/player?type=2&id={{ page.music-id }}&auto=0&height=66">
    </iframe>
  </body>
</html>
