<section class="visible-md visible-lg">
  <hr>
  <h5><a href="{{'/about/' | prepend: site.baseurl }}">ABOUT ME</a></h5>
  <div class="short-about">
    <!-- 站点侧边栏头像 -->
    {% if site.sidebar-avatar %}
    <img src="{{site.sidebar-avatar}}" />
    {% endif %}
    <h4>John Tao</h4>
    <img src="https://typora-img-1301299232.cos.ap-shanghai.myqcloud.com/img/202308271728442.png" /
        alt="AppleTeacher_black" style="zoom:5%;">
    {% if site.sidebar-about-description %}
    <p>{{site.sidebar-about-description}}</p>
    {% endif %}
    <!-- SNS Link -->
    {% include sns-links.html %}
  </div>
</section>